body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.PSU {
    margin-right: 20px; 

}

.PSU img {
    width: 100px;
    height: auto; 
}
.certificate{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: auto 0;
    padding: 10px;
}
.registration-number {
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
    padding-left: 20px;
}
.number{
    color: maroon;
    font-weight: bold;
}
.box1 {
    border: 2px solid black;
    padding: 20px;
    background-color: #f9f9f9;
}
info-box h4,
.subject-info h4,
.assessed-fees h4,
.rules-refund h4 {
    background-color: #ada6ec;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px 0;
    justify-content: center;
    display: flex;
}

.student-info,
.subject-table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.student-info td,
.subject-table td{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
